In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('secondary_data_no_miss.csv', delimiter=";")

In [3]:
df.head()

,class,cap-diameter,cap-shape,cap-surface,cap-color,does-bruise-or-bleed,gill-attachment,gill-spacing,gill-color,stem-height,stem-width,stem-color,has-ring,ring-type,habitat,season
0,e,1.26,x,g,y,f,d,c,w,5.04,1.73,y,f,f,d,a
1,e,10.32,f,e,b,f,a,c,b,4.68,19.44,w,t,f,d,a
2,p,0.92,x,g,p,f,a,c,p,4.59,1.15,k,f,f,d,u
3,p,4.27,x,t,p,f,x,c,w,4.55,6.52,w,f,f,d,a
4,e,3.08,f,s,w,f,d,d,w,2.67,5.18,w,f,f,m,a

In [4]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = df[['class', 'cap-diameter', 'stem-height']]

In [6]:
df.head()

  class  cap-diameter  stem-height
0     e          1.26         5.04
1     e         10.32         4.68
2     p          0.92         4.59
3     p          4.27         4.55
4     e          3.08         2.67

In [7]:
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()
df["class_encoded"] = ord_enc.fit_transform(df[['class']])

In [8]:
df.head()

  class  cap-diameter  stem-height  class_encoded
0     e          1.26         5.04            0.0
1     e         10.32         4.68            0.0
2     p          0.92         4.59            1.0
3     p          4.27         4.55            1.0
4     e          3.08         2.67            0.0

In [17]:
len(df)

61069

In [9]:
print("1 = poisonous")
print("0 = edible")

1 = poisonous
0 = edible

In [10]:
df = df.drop(['class'], axis=1)

In [11]:
X = df.drop(['class_encoded'], axis=1)
y = df['class_encoded']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)
print('Training dataset size:', len(X_train))
print('Testing dataset size:', len(X_test))

Training dataset size: 48855
Testing dataset size: 12214

In [12]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train)

SVC(kernel='linear')

In [13]:
y_pred = svclassifier.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.5644342557720649

In [14]:
svclassifier.coef_

array([[-0.10999167, -0.0150223 ]])

In [15]:
W=svclassifier.coef_[0]
I=svclassifier.intercept_
a = -W[0]/W[1]
b = I[0]/W[1]

In [24]:
print(f"SVC Equation : y = {a}x - {b}") if b > 0 else print(f"SVC Equation : y = {a}x + {-b}")

SVC Equation : y = -7.321893202372813x + 91.89064823107132